@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Montserrat:wght@500&family=Staatliches&display=swap');

/* Navbar */

.logo-img {
    max-width: 120px;
    max-height: 100%;
    width: auto;

}

.nav {
    background-color: #000;
}


.nav-text {
    font-family: 'Orbitron',Montserrat,Arial,Helvetica,sans-serif;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 96px;
    padding: 4px 9px 0;
    letter-spacing: 0.05rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-text:hover {
    color: #5ca500;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    transform: scale(1.1);
    color: #fff;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

/* Banner */

.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner h1 { 
    color: #5ca500;
    font-size: 90px;
    font-family: "Oswald", arial;
    margin-left: 2vw;
    padding-top: 50vh;
    font-weight: 300;
    margin-top: 5vh;
}

.wrap {
    border-right: 0.08em solid #5ca500;
  }

 .banner video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    z-index: -1;
    width: 100%;
  }

  /* Nosotros */

  .nosotros {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .nosotros h3 {
    font-size: 60px;
    font-family: "Oswald", arial;
    letter-spacing: -0.03em;
    color: #5ca500;
    font-weight: 300;
    /* margin-left: -5vw; */
    margin-top: 18%;
  }

  .divider {
    color: #5ca500;
    margin-right: 65vw;
    border: solid 0.15em;
    margin-bottom: 5vh;
  }

  .nosotros p {
    font-size: 25px;
    font-weight: 300;
    text-align: justify;
    
  }

/* Media querys */

@media( min-width: 320px) and ( max-width: 820px) {
    .banner { 
       display: none;
    }
}

@media( min-width: 820px) and ( max-width: 900px) {
    .banner { 
       margin-top: -50%;
       font-size: 20px;
    }
}


@media( min-width: 900px) and ( max-width: 1050px) {
    .banner { 
       margin-top: -40%;
       font-size: 20px;
    }
}

@media( min-width: 1050px) and ( max-width: 1300px) {
    .banner { 
       margin-top: -20%;
       font-size: 20px;
    }
}

@media( min-width: 1300px ) {
    .banner {
        margin-top:-7% ;
    }
} 
